<div class="hero-card">
    <div class="card-header">
        <h3>{{ hero.nomeHeroi }}</h3>
        <span>ID: {{ hero.id }}</span>
    </div>

    <div class="card-body">
        <p><strong>Nome Real:</strong> {{ hero.nome }}</p>
        <div class="details">
            <span><strong>Altura:</strong> {{ hero.altura }}m</span>
            <span><strong>Peso:</strong> {{ hero.peso }}kg</span>
        </div>

        <div class="superpowers">
            <strong>Poderes:</strong>
            <ul>
                <li *ngFor="let poder of hero.superpoderes">
                    {{ poder.superpoder }}
                </li>
            </ul>
        </div>
    </div>

    <div class="card-footer actions">
        <button (click)="onEditClick()">Editar</button>
        <button class="danger" (click)="onDeleteClick()">Excluir</button>
    </div>
</div>