<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="nome">Nome Real:</label>
        <input id="nome" type="text" formControlName="nome">
    </div>

    <div>
        <label for="nomeHeroi">Nome de Herói:</label>
        <input id="nomeHeroi" type="text" formControlName="nomeHeroi">
    </div>
    
    <div>
        <label for="altura">Altura:</label>
        <input id="altura" type="number" formControlName="altura">
    </div>
    
    <div>
        <label for="peso">Peso:</label>
        <input id="peso" type="number" formControlName="peso">
    </div>

    <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" type="date" formControlName="dataNascimento">
    </div>

    <div>
        <h4>Superpoderes</h4>
        <div formArrayName="superpoderes">
            <div *ngFor="let power of allSuperpowers; let i = index">
            <input 
                type="checkbox"
                [formControlName]="i"> <label>{{ power.superpoder }}</label>
            </div>
        </div>
    </div>

    <button type="submit">Salvar</button>
</form>