.hero-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem 0;
}

/* --- Media Query para Telas Menores (Tablets) --- */
@media (max-width: 992px) {
  .hero-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --- Media Query para Telas Pequenas (Celulares) --- */
@media (max-width: 768px) {
  .hero-list-container {
    grid-template-columns: 1fr;
  }
}